.App {
  text-align: center;
  word-wrap: break-word;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.home__container {
  margin-top: 4rem;
  height: 6rem;
  color: #222222;
}

.dropdown {
  margin-top: 0.1rem;
  height: 2rem;
}

#numberInput {
  width: 70%;
  font-size: 0.8rem;
  height: 2.5rem;
  padding: 1rem;
}

.btn__dropdown {
  background-color: #F2F2F2;
  width: 40%;
  font-size: 0.8rem;
}

.btn__generate {
  background-color: #222222;
  color: #CCCCCC;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 0.8rem;
  width: 60%;
  height: 2.5rem;
  word-wrap: break-word !important;
}

.btn__generate:hover {
  background-color: #222222;
  color: #F2F2F2;
}

.btn__generate:focus {
  background-color: #222222;
  color: #F2F2F2;
}

.btn__generate:active {
  background-color: #222222;
  color: #F2F2F2;
}
