.navbar {
  border-radius: 0;
  color: #F2F2F2 !important;
}

.container-fluid {
  width: 100%;
}

.header__container {
  font-size: 0.8rem;
}

.nav {
  float: right;
  letter-spacing: 0.1rem;
}

.navbar-brand {
  color: #F2F2F2 !important;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.__logo {
  float: left;
  margin: 0.5rem 1rem 0 0;
  width: 3rem;
  height: 2rem;
}

.navbar-nav>.active>a {
  color: #F2F2F2 !important;
}

.navbar-nav>.active>a:focus {
  color: #F2F2F2 !important;
}

.navbar-nav>.active>a:hover {
  color: #F2F2F2 !important;
}

