.table__container {
  display: block;
  margin-top: 2rem;
  height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed_header {
  background-color: #222222;
  color: #F2F2F2;
}

th {
  font-size: 0.9rem;
}

td {
  font-size: 0.8rem;
}
