.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #DDDDDD;
  z-index: 10;
}

.footer__container {
  padding: 1rem;
  height: 3rem;
  font-size: 0.4rem;
}

.text-muted {
  color: #222222ba;
  letter-spacing: 0.2rem;
}